*.cache
*.dll
*.exe
*.pdb
*.testlog
**/node_modules
**/bin
**/obj
**/.vs
*.suo
*.csproj.user
/src/Sushi.Mediakiwi.Demonstration/sheetsCredentials.json
/src/Sushi.Mediakiwi.Demonstration/sheetsClientSecret.json
