################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sushi.Mediakiwi/bin/Debug/netcoreapp3.1/Sushi.Mediakiwi.pdb
