################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/Sushi.Mediakiwi.Headless/v16
/.vs/
/bin/Debug