@inherits Sushi.Mediakiwi.Headless.BaseRazorComponent<Models.ApplicationSettings>
@using Sushi.Mediakiwi.Headless.Data;


<div class="card mb-3">
    @if (string.IsNullOrEmpty(image?.Url) == false)
    {
        <img src="@image.Url" class="card-img-top" alt="@image.Text">
    }
    
    <div class="card-body">
        @if (string.IsNullOrEmpty(title?.Text) == false)
        {
            <h5 class="card-title">@title.Text</h5>
        }
        @if (string.IsNullOrEmpty(contentText?.Text) == false)
        {
            <p class="card-text">@((MarkupString)contentText.Text)</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public ContentItem title { get; set; }

    [Parameter]
    public ContentItem contentText { get; set; }

    [Parameter]
    public ContentItem image { get; set; }

}
