@using System.Linq;
@using Sushi.Mediakiwi.Headless;
@using Sushi.Mediakiwi.Headless.SectionHelper;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.WebUtilities;
@inherits Sushi.Mediakiwi.Headless.BaseRazorPageLayout<Models.ApplicationSettings>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (PageContent != null && PageContent.MetaData != null)
    {
        <title>@PageContent.MetaData.PageTitle</title>
    }
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Sushi.Mediakiwi.Website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
