a.submit,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background: #334154 !important;
  padding: 7px 10px !important;
}
a.submit:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #202834 !important;
}
a.submit.inActive {
  background: #465a74 !important;
}
input[type="submit"].action,
a.action {
  background: #de6924 !important;
}
input[type="submit"].action:hover,
a.action:hover {
  background: #dc5200 !important;
}
.fixed #bodySection,
#homeArticle {
  background: #ffffff;
}
body {
  background: #d2d7da;
}
h1,
h2,
h3,
h4,
a {
  color: #dd6827;
}
h4 {
  color: #de6924;
}
figure#container2 {
  background: #6d6e72 !important;
}
#bodyHeader {
  background: #212121;
  box-shadow: -25rem 0 0 #212121, 25rem 0 0 #212121;
}
#bodyHeader a {
  background: #050505;
}
.pageHeader,
.fixed .pageHeader:before,
.fixed .pageHeader:after {
  background: #f2f2f2;
}
.pageHeader .icon-question-circle,
.pageHeader .icon-gears {
  float: right;
  margin: 10px 0px 0px 10px;
  font-size: 200%;
  color: #de6924;
  position: relative;
}
.pageHeader .icon-question-circle:hover,
.pageHeader .icon-gears:hover {
  color: #dc5200;
}
.pageHeader ul {
  margin: 0px;
  display: inline-block;
}
.pageHeader ul li {
  height: 54px;
  line-height: 54px;
}
.pageHeader a.config {
  position: absolute;
  margin: 15px 0px 0px 20px;
  color: #de6924;
  text-decoration: underline;
  font-size: 130%;
}
#homeAside {
  background: #334154 !important;
  color: #ffffff !important;
}
#homeAside a,
#homeAside li a {
  color: #ffffff !important;
}
div.footer {
  background: #d2d7da;
}
.formfilters {
  background: #eef2f5;
  padding-bottom: 40px;
  margin-bottom: 40px !important;
}
#sideNav menu.sideNav ul li ul {
  background: #334154 !important;
}
#sideNav menu.sideNav ul li.active ul li.active a {
  background: #465a74 !important;
}
.dataBlock table.selections tr:hover td {
  background: #eaf7fc !important;
}
.dataBlock table.selections tr.totals,
.dataBlock table.selections tr.totals td {
  background: #eff1f3 !important;
}
div.footer ul li a.flaticon,
menu.pager a {
  background: #465a74;
}
div.footer ul li a.flaticon:hover,
menu.pager a:Hover {
  background: #334154;
}
menu.pager a.active {
  font-weight: bold;
}
menu#mainMenu a.active {
  border-bottom: solid 5px #de6924;
}
menu#mainMenu li .sub menu ul li a:hover {
  background: #eaf7fc;
}
menu#mainMenu li .sub menu ul li a.active {
  background: #eaf7fc;
}
.pageHeader #breadCrumbs,
.pageHeader #breadCrumbs a {
  color: #de6924;
}
#sideNav menu.sideNav ul li a span.items {
  color: #334154 !important;
}
div.footer {
  background: none repeat scroll 0 0 #d4dbe1 !important;
  border-bottom: none !important;
}
.iconBar {
  margin-bottom: 0px !important;
}
a.submit,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background: none repeat scroll 0 0 #404040 !important;
}
form {
  height: 100%;
}
a.back {
  min-width: 77px;
}
#homeArticle,
.forms,
#homeArticle footer {
  overflow: visible;
  margin-right: 0px;
}
#homeArticle .keyword footer {
  overflow: visible;
  margin-right: 0px;
  position: relative;
}
#homeArticle div.loading {
  background: #2a333d;
  opacity: 0.8 !important;
  width: 1280px;
  left: 0px;
  top: 0px;
  position: absolute;
  min-height: 746px;
  z-index: 999;
}
#homeArticle div.loading .fond {
  margin-top: 100px;
}
#homeArticle footer div.loaders {
  right: 300px !important;
  top: 15px !important;
}
#homeArticle footer div {
  padding: 0px;
}
menu.pager a.active {
  font-weight: bold;
}
.forms,
.searchTable {
  padding-top: 10px;
}
menu#mainMenu li .sub menu ul li a:hover {
  font-weight: normal;
}
menu#mainMenu li .sub menu ul li a.active {
  font-weight: bold;
}
#breadCrumbs {
  color: #de6924;
}
#breadCrumbs a {
  color: #de6924 !important;
}
.fixed.full #homeArticle {
  width: 100%;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-height: 100%;
}
.dataBlock table.selections td h4 {
  color: #de6924;
}
.dataBlock table.selections.inbox th {
  text-align: left;
  font-weight: bold !important;
  font-family: Georgia;
}
.dataBlock table.selections.inbox td {
  height: 32px;
  color: #949da3;
  cursor: pointer;
  vertical-align: middle;
}
.dashes figure#container2 {
  background: url(../../images/backGraph.png) repeat-x 0% 0%;
  height: 400px;
}
.dashes.table .dataBlock table.selections.small tbody tr td:nth-of-type(2),
.dashes.table .dataBlock table.selections.big tbody tr td {
  text-align: left !important;
}
.dataBlock table.selections.inbox.small th,
.dataBlock table.selections.small td:nth-of-type(3),
.dataBlock table.small td:nth-of-type(4) {
  text-align: right !important;
}
.dataBlock table.selections.inbox tbody tr td:first-child {
  padding-left: 10px !important;
}
.dataBlock table.selections.inbox.big tbody tr td:last-child {
  padding-right: 26px !important;
}
.dataBlock table.selections.inbox.small td:nth-of-type(4) {
  font-weight: bold !important;
  color: #475d7c;
}
.dataBlock table.selections.inbox.big td:nth-of-type(2) {
  width: 500px;
}
.dataBlock table.selections.inbox.big td:nth-of-type(5) {
  padding-right: 0px;
}
.dataBlock table.selections.inbox th.icon {
  width: 18px !important;
  display: inline-block;
  padding: 0px 0px 0px 0px;
}
.dataBlock table.selections.inbox span {
  display: inline-block;
  padding-top: 2px;
  margin-right: -20px;
}
.dataBlock table.selections.big th:last-child,
.dataBlock table.selections.big td:last-child {
  padding: 6px 0px 0px 0px !important;
  font-size: 110%;
}
.icon-twitter {
  color: #3498db;
  font-size: 140%;
}
.icon-rss {
  color: #ff642a;
  font-size: 140%;
}
.icon-globe {
  color: #00AA00;
  font-size: 140%;
}
.icon-facebook {
  color: #3b5ba1;
  font-size: 140%;
}
.icon-frown-solid {
  color: #e74c3c;
  font-size: 150%;
}
.icon-meh-solid {
  color: #b9bdc4;
  font-size: 150%;
}
.icon-smile-solid {
  color: #14a085;
  font-size: 150%;
}
a.shows {
  color: #de6924;
  font-size: 110%;
}
a.question span {
  color: #cfd6dd;
  font-size: 130%;
  margin-left: 10px;
}
a.question:hover span {
  color: #3f5978;
}
.pageHeader.senti {
  padding: 40px 40px 20px 40px !important;
  position: relative;
}
.forms {
  margin-bottom: 20px;
  padding-left: 20px !important;
}
.tooltip {
  color: #ffffff;
  padding: 10px !important;
  border-radius: 5px !important;
  border: solid 1px #ffffff;
}
.smallz {
  font-size: 40%;
  text-decoration: underline !important;
  text-align: center;
  display: block;
  margin: 0px 0px 0px 0px !important;
}
.smallz:hover {
  background: none !important;
  text-decoration: none !important;
}
.pageHeader {
  padding: 20px 40px 20px 20px;
  position: relative;
}
.pageHeader footer {
  margin-right: -20px !important;
}
.pageHeader header h1 {
  margin-bottom: 10px;
}
.pageHeader header p {
  position: relative;
  color: #7e878d;
  margin-bottom: 20px;
}
.pageHeader .searchBox {
  width: 570px;
  height: 90px;
  margin-bottom: 20px;
}
.pageHeader .searchBox label {
  font-size: 110%;
  color: #949da3;
  margin-right: 10px;
  font-weight: normal;
  margin-left: 0px;
  display: block;
  margin-bottom: 10px;
}
.pageHeader .searchBox select {
  padding: 7px 10px 5px 10px;
  width: 340px;
  margin-top: 1px;
  font-size: 110%;
  border: solid 1px #d3d3d3;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  height: 20px !important;
  color: #212121;
}
.pageHeader .searchBox .select2-container {
  width: 370px;
  float: left !important;
}
.pageHeader .searchBox input[type=submit].submit,
.pageHeader a.submit {
  height: auto !important;
  float: left;
  margin-top: 0px;
  margin-right: 0px;
  padding: 9px 25px !important;
  margin-top: -2px !important;
}
.pageHeader .searchBox input[type=submit].action {
  background: #2d343c !important;
}
.pageHeader a.submit {
  height: auto !important;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  padding: 9px 25px !important;
  margin-top: 2px !important;
}
.pageHeader fieldset.auto {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
.pageHeader fieldset.auto input {
  width: 15px !important;
  float: left !important;
  margin: 3px 5px 0px 0px !important;
}
.pageHeader fieldset.auto label {
  width: auto;
  color: #949da3;
}
.pageHeader .messager {
  background: #ffffff;
  width: 340px;
  padding: 24px;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 300;
  border-radius: 4px;
  border: solid 1px #dedede;
  box-shadow: 0 0 5px #ccc;
}
.pageHeader .messager figure {
  display: block;
  font-size: 140%;
  margin-right: 20px;
  text-align: center;
  color: #d3dae0;
  margin-bottom: 20px;
}
body.popupPage {
  background: #ffffff;
}
#popupContent {
  padding-top: 20px;
}
#popupContent input.big {
  padding: 8px 10px 8px 10px;
  float: left;
  margin-top: 0px;
  font-size: 160%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: solid 1px #d3d3d3;
  font-size: 100%;
  color: #212121 !important;
}
#popupContent input.big.error {
  border: solid 1px red;
}
#popupContent h3 {
  color: #949da3;
  margin-bottom: 20px;
  text-align: center;
  font-size: 120%;
  margin-top: 30px;
}
#popupContent input[type=submit].submit {
  height: auto;
  float: left;
  margin: 0px 0px 0px 10px !important;
  margin-right: 0px;
}
#popupContent input[type=submit].action {
  margin: 0px 0px 0px 10px !important;
}
input[type=submit].submit,
input[type=submit].reset {
  /*float: right !important;*/
}
input[type=submit].action {
  margin: 0px 0px 0px 10px !important;
  float: right;
}
#popupContent figure {
  width: 100%;
  margin: 0px auto 20px auto !important;
  text-align: center;
}
#popupContent figure div {
  display: inline-block;
}
#popupContent span.icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 100%;
  vertical-align: middle;
  padding-top: 10px;
  text-decoration: none;
  background: #475d7c;
  margin-right: 12px;
  font-size: 200%;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#popupContent span.blue {
  background: #4eacea;
}
#popupContent span.inactive {
  background: #ececec;
}
#popupContent span.number {
  display: block;
  font-size: 150%;
  color: #2a3338;
}
#popupContent div.results {
  border: solid 1px #dedede;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 110%;
}
#popupContent div.results h3 {
  color: #2a3338;
  margin: 0px;
}
#popupContent div.results.error {
  background: #e74c3c;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
}
.highcharts-title a {
  color: #FFF;
  text-decoration: none;
  border-radius: 1000px;
  padding: 0px 20px 0px 20px;
  font-weight: normal;
}
.highcharts-title a:hover {
  background-color: #707fa5;
}
.highcharts-title a span {
  position: relative;
  top: 3px;
}
.loginNav ul li {
  color: #8798aa;
}
.loginNav ul li:last-child {
  width: 70px;
  margin: -3px 0px 0px 0px;
}
aside.sideBar {
  width: 460px !important;
  display: block;
  float: left !important;
  background: #f2f2f2;
  overflow: hidden;
  height: 950px !important;
  margin-bottom: -40px !important;
  border-right: solid 1px #e8ecf0;
}
div.graphs {
  width: -moz-calc(100% - 460px);
  width: -webkit-calc(100% - 460px);
  width: calc(100% - 460px);
  display: block;
  float: left !important;
  background: #ffffff;
  margin-bottom: -20px !important;
  overflow: hidden;
}
.dashes {
  position: relative !important;
}
.dashes.graph {
  width: auto !important;
  display: block;
  float: none;
  height: auto;
  background: none !important;
  overflow: hidden;
}
.dashes.table {
  width: 100% !important;
  display: block;
  overflow: hidden;
  height: auto !important;
  background: none !important;
}
.loginNav li div.channel {
  display: none;
  position: absolute;
  border-radius: 4px;
  background: #ffffff;
  color: #4e5862;
  padding: 20px;
  width: 340px;
  right: 3px;
  top: 24px;
  box-shadow: 0 1px 3px 0px #a3a3a3;
}
.loginNav li div h3 {
  text-transform: uppercase;
}
.loginNav li div img {
  float: left;
  margin-right: 20px;
}
.loginNav li div a.submit {
  height: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #212932 !important;
}
.loginNav li div a.submit:hover {
  background: #475d7c !important;
}
.loginNav li div a.submit.left {
  height: 20px;
  position: absolute;
  bottom: 20px;
  right: 90px;
  background: #475d7c !important;
}
.loginNav li div a.submit.left:hover {
  background: #212932 !important;
}
.fond {
  position: absolute;
  padding-top: 25px;
  top: 60px;
  left: 40px;
  height: 44px;
  right: 0;
  bottom: 0;
  z-index: 111;
  /*overflow: hidden;*/
}
.fond.small {
  position: absolute !important;
  top: 162px;
  padding-top: 0px;
  text-align: center;
  width: 100%;
  height: auto;
  /*overflow: hidden;*/
}
.contener_general {
  -webkit-animation: animball_two 1s infinite;
  -moz-animation: animball_two 1s infinite;
  -ms-animation: animball_two 1s infinite;
  animation: animball_two 1s infinite;
  width: 44px;
  height: 44px;
  float: none;
  display: inline-block;
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.fond.small .contener_general {
  float: none;
  display: inline-block;
  text-align: center;
  margin: 0px 0px 20px 0px;
  width: 44px;
  height: 44px;
}
.fond .content {
  float: none;
  text-align: center;
  width: 80%;
  font-weight: 300;
  color: #ffffff;
  font-size: 200%;
}
.fond .content h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  width: 220px;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: solid 1px #657697;
}
.fond .content p {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 70%;
  line-height: 130%;
}
.fond.small .content {
  float: none;
  width: 100%;
  font-weight: 300;
  color: #2a333d;
  font-size: 200%;
  overflow: hidden;
  position: absolute;
  text-align: center !important;
}
.fond.small .content h2 {
  color: #2a333d;
  font-weight: normal;
  font-size: 90%;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 0px !important;
}
.fond.small .content p {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 70%;
  text-align: center;
  line-height: 130%;
}
.data {
  float: none;
  width: 100%;
  font-weight: 300;
  color: #ffffff;
  font-size: 200%;
  position: absolute;
  padding-top: 85px;
  top: 200px;
  /*left:40px;*/
  right: 0;
  bottom: 0;
  z-index: 111;
  overflow: hidden;
}
.data .icon-ban {
  font-size: 250%;
  margin: 0px 40px 40px 0px;
  color: #ffffff;
  width: 44px;
}
.data h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: 300;
  float: none;
  display: inline-block;
  margin: 0px 0px 20px 0px !important;
}
.data p {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 90%;
  text-align: center;
  line-height: 130%;
}
.data.small {
  float: none;
  width: 100%;
  font-weight: 300;
  color: #2a333d;
  font-size: 200%;
  position: absolute !important;
  top: 70px;
  height: auto !important;
  text-align: center !important;
}
.data.small .icon-ban {
  font-size: 250%;
  margin: 0px 0px 10px 0px !important;
  color: #afb3bb;
  float: none;
  display: inline-block;
}
.data.small h2 {
  color: #2a333d;
  font-weight: normal;
  font-size: 90%;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 0px !important;
}
.data.small p {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 70%;
  text-align: center;
  line-height: 130%;
}
.contener_mixte {
  width: 44px;
  height: 44px;
  position: absolute;
}
.ballcolor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.ball_1,
.ball_2,
.ball_3,
.ball_4,
.ball_5 {
  position: absolute;
  -webkit-animation: animball_one 1s infinite ease;
  -moz-animation: animball_one 1s infinite ease;
  -ms-animation: animball_one 1s infinite ease;
  animation: animball_one 1s infinite ease;
}
.ball_1 {
  background-color: #de6924;
  top: 0;
  left: 0;
}
.ball_2 {
  background-color: #b23634;
  top: 0;
  left: 24px;
}
.ball_3 {
  background-color: #ffffff;
  top: 24px;
  left: 0;
}
.ball_5 {
  background-color: #2a333d;
  top: 24px;
  left: 0;
}
.ball_4 {
  background-color: #afb3bb;
  top: 24px;
  left: 24px;
}
@-webkit-keyframes animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}
@-moz-keyframes animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}
@-ms-keyframes animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}
@keyframes animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
  }
}
@-webkit-keyframes animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
  }
}
@-moz-keyframes animball_two {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }
  50% {
    -moz-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -moz-transform: rotate(720deg) scale(1);
  }
}
@-ms-keyframes animball_two {
  0% {
    -ms-transform: rotate(0deg) scale(1);
  }
  50% {
    -ms-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -ms-transform: rotate(720deg) scale(1);
  }
}
@keyframes animball_two {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
#popupSentiment {
  background: #ffffff;
  border: solid 5px #292d36;
  padding: 20px;
  width: 798px;
}
#popupSentiment div.sentiment {
  width: 368px;
  border-radius: 5px;
  float: left;
  height: 140px;
  padding: 14px 20px;
  position: relative;
  font-size: 120%;
  color: #ffffff;
  margin-bottom: 20px;
}
#popupSentiment div.sentiment.positive {
  background: #de6924;
}
#popupSentiment div.sentiment.negative {
  background: #e74c3c;
}
#popupSentiment div.sentiment.neutral {
  background: #a4a8b1;
}
#popupSentiment div.sentiment em {
  display: block;
  font-style: normal;
  margin-top: 15px;
}
#popupSentiment div.sentiment span {
  font-size: 460%;
  float: left !important;
  color: #ffffff;
  margin-right: 10px;
  margin-left: -10px;
}
#popupSentiment div.sentiment footer {
  background: #dc5200;
  position: absolute;
  bottom: 0px;
  color: #cde5df;
  height: 45px;
  width: 100%;
  font-size: 90%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 13px 20px;
  margin-left: -20px;
}
#popupSentiment div.sentiment.positive footer {
  background: #dc5200;
  color: #cde5df;
}
#popupSentiment div.sentiment.negative footer {
  background: #d62c1a;
  color: #f8d4d2;
}
#popupSentiment div.sentiment.neutral footer {
  background: #898e99;
  color: #f6f6f7;
}
#popupSentiment div.sentiment footer strong {
  color: #ffffff !important;
  padding-left: 20px;
}
#popupSentiment div.personSocial {
  border-radius: 5px;
  float: right;
  background: #eef2f5;
  height: 140px;
  width: 368px;
  padding: 10px;
  font-size: 120%;
  position: relative;
  margin-bottom: 20px;
}
#popupSentiment div.personSocial img {
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}
#popupSentiment div.personSocial strong {
  margin-top: 10px;
  display: block;
  margin-bottom: -20px;
}
#popupSentiment div.personSocial a {
  display: inline-block;
  color: #de6924;
  font-size: 90%;
  padding-top: 6px;
}
#popupSentiment div.personSocial a span {
  padding: 2px 0px 0px 4px;
}
#popupSentiment div.personSocial ul.specs {
  position: absolute;
  bottom: -2px;
  left: 110px;
  width: 230px;
  text-align: center;
}
#popupSentiment div.personSocial ul.specs li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  font-size: 180%;
  font-weight: bold;
  color: #3498db;
  margin-left: 10px;
}
#popupSentiment div.personSocial ul.specs.twitter li {
  color: #3498db;
}
#popupSentiment div.personSocial ul.specs.facebook li {
  color: #3B5BA1;
}
#popupSentiment div.personSocial ul.specs.rss li {
  color: #ff642a;
}
#popupSentiment div.personSocial ul.specs li span {
  color: #9098a0;
  display: block !important;
  font-size: 12px;
  font-weight: 300;
  padding-top: 2px;
  font-weight: normal;
}
.inboxs span.icon-twitter {
  position: absolute;
  border-radius: 50%;
  background: #3498db;
  color: #ffffff;
  padding: 10px;
  font-size: 150%;
  bottom: 16px;
  left: 110px;
  width: 42px;
  height: 42px;
  text-align: center;
}
.inboxs span.icon-facebook {
  position: absolute;
  border-radius: 50%;
  background: #3B5BA1;
  color: #ffffff;
  padding-top: 12px;
  font-size: 150%;
  bottom: 16px;
  left: 110px;
  width: 42px;
  height: 42px;
  text-align: center;
}
.inboxs span.icon-rss {
  position: absolute;
  border-radius: 50%;
  background: #ff642a;
  color: #ffffff;
  padding: 10px;
  font-size: 150%;
  bottom: 16px;
  left: 110px;
  width: 42px;
  height: 42px;
  text-align: center;
}
.inboxs span.icon-globe {
  position: absolute;
  border-radius: 50%;
  background: #00AA00;
  color: #ffffff;
  padding: 10px;
  font-size: 150%;
  bottom: 16px;
  left: 110px;
  width: 42px;
  height: 42px;
  text-align: center;
}
div.impact {
  position: absolute;
  width: auto;
  font-size: 20%;
  margin-top: 4px;
  right: 0px;
}
div.impact figure {
  position: absolute;
  right: 90px;
  top: 12px;
}
div.impact span.diff {
  font-weight: 300;
  position: absolute;
  right: 20px;
  top: 12px;
  margin-left: 0px;
}
div.impact span.number {
  font-weight: 600;
  position: absolute;
  right: 20px;
  font-weight: bold;
  top: 28px;
  margin-left: 0px;
}
.messages {
  background: #ffffff !important;
  text-align: center;
  padding: 10px 0px;
  margin: 0px 20px;
  margin-bottom: -10px;
}
.messages a {
  text-decoration: underline;
  color: #de6924 !important;
}
.messages strong {
  display: inline;
  color: #de6924 !important;
}
#popupSentiment div.personSocial span.icon-globe {
  position: absolute;
  border-radius: 50%;
  background: #00AA00;
  color: #ffffff;
  padding: 10px;
  font-size: 150%;
  bottom: 16px;
  left: 110px;
  text-align: center;
}
#popupSentiment span.date {
  color: #9098a0;
  float: left;
  font-size: 110%;
  margin-top: 10px;
}
#popupSentiment a.submit {
  margin-left: 10px;
}
#popupSentiment p {
  color: #303030;
  font-size: 110%;
  padding: 20px 0px;
  margin: 17px 0px -20px 0px;
  border-top: solid 1px #eef2f5;
}
#popupSentiment p.twitter {
  font-size: 190%;
  line-height: 130%;
}
#popupSentiment p.twitter a {
  color: #de6924;
}
#popupSentiment footer.adjustments a.algo {
  background: #d2d7da;
  height: 46px;
  line-height: 46px;
  display: block;
  width: auto;
  padding: 0px 20px;
  margin: 0px -20px -20px -20px;
}
#popupSentiment footer.adjustments ul {
  margin: 40px 0px 0px 0px;
  padding: 0px;
}
#popupSentiment footer.adjustments ul li {
  list-style-type: none;
  padding: 10px 0px 10px 0px;
  border-top: solid 1px #eef2f5;
  border-bottom: solid 1px #eef2f5;
}
#popupSentiment footer.adjustments ul li span.right {
  float: right;
  margin-left: 30px;
}
#popupSentiment footer.adjustments ul li span.red {
  background: #de6924;
  display: inline-block;
  padding: 3px 10px;
  color: #ffffff;
}
#popupSentiment footer.adjustments ul li span.green {
  background: #e74c3c;
  display: inline-block;
  padding: 3px 10px;
  color: #ffffff;
}
#popupSentiment footer.adjustments fieldset {
  margin: 20px 0px 20px 0px;
}
#popupSentiment footer.adjustments fieldset input[type=radio] {
  margin: 2px 0px 0px 0px;
}
#popupSentiment footer.adjustments fieldset label:first-child {
  margin: 0px 10px 0px 0px;
  font-weight: normal !important;
}
#popupSentiment footer.adjustments fieldset label:nth-of-type(-n+4) {
  font-weight: bold;
  margin-right: 20px;
}
#popupSentiment footer.adjustments fieldset label:nth-of-type(5) {
  float: right;
  margin-right: 10px;
}
#popupSentiment footer.adjustments fieldset select {
  float: right;
  width: 200px;
  margin-top: -3px;
}
#popupSentiment a.submit.left {
  background: #282f37 !important;
}
#popupSentiment a.submit.left:hover {
  background: #212932 !important;
}
#popupConfirm {
  background: #ffffff;
  border: solid 5px #292d36;
  padding: 20px;
  width: 378px;
}
#popupConfirm p {
  color: #303030;
  font-size: 110%;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
}
.popupHelp {
  background: #ffffff;
  border: solid 5px #292d36;
  padding: 20px;
  width: 798px;
}
.popupHelp p {
  color: #303030;
  font-size: 110%;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
}
.popupHelp h2 {
  font-size: 150%;
  color: #1a1a1a;
  margin-bottom: 5px !important;
}
.dashHeader .sentimentGraph {
  width: 250px !important;
  position: absolute;
  right: 40px;
  top: 25px;
  border-radius: 10px;
  height: 23px;
  border: none;
  font-size: 90%;
  color: #ffffff;
  text-align: center;
}
.dashHeader .sentimentGraph div {
  float: left;
  text-align: center;
  height: 19px;
  line-height: 19px;
}
.dashHeader .sentimentGraph div.neutral {
  background: #a3aab4;
  color: #ffffff;
}
.dashHeader .sentimentGraph div.positive {
  background: #14a085;
  color: #ffffff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.dashHeader .sentimentGraph div.negative {
  color: #ffffff;
  background: #ca524c;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.dashHeader .sentimentGraph span {
  margin-top: 26px;
  display: block;
}
.pageHeader a.submit {
  background: #6d6d71 !important;
  position: relative;
  float: left !important;
  text-align: center;
  height: 50px;
  font-size: 140%;
  line-height: 50px;
  padding: 0px 20px !important;
  margin: 0px 0px 0px 20px !important;
}
.pageHeader a.submit.actions {
  background: #de6924 !important;
  position: relative;
  float: left !important;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px !important;
  margin: 0px 0px 0px 10px !important;
}
.pageHeader a.actions:hover {
  background: #dc5200 !important;
}
.pageHeader a.actions span {
  font-size: 150%;
}
.pageHeader a.actions span {
  font-size: 150%;
}
.keyword {
  background: #6d6e72;
  padding: 30px 40px 30px 40px;
  color: #ffffff;
  min-height: 500px;
  margin-bottom: 0px;
}
.keyword #breadCrumbs {
  margin-bottom: 60px;
  clear: both;
  float: none;
  width: 100%;
}
.keyword #breadCrumbs li.last {
  float: right;
  margin-right: 0px;
}
.keyword #breadCrumbs li.last a {
  color: #ffffff !important;
  font-size: 170%;
}
.keyword #breadCrumbs li.last a:hover {
  color: #e6e6e6 !important;
  font-size: 170%;
}
.keyword h1 {
  color: #ffffff;
}
.keyword p:last-child {
  margin-bottom: 40px;
}
.keyword .subs {
  width: 480px;
  float: left;
}
.keyword .subs:last-of-type {
  width: 640px;
  float: right;
}
.rating-b {
  float: right;
  margin-right: 20px;
}
.rating-b .br-widget {
  height: 34px;
}
.rating-b .br-widget a {
  display: block;
  width: 34px;
  height: 14px;
  float: left;
  background-color: #5e5e5e;
  margin: 1px;
  text-align: center;
  border-radius: 2px;
}
.rating-b .br-widget a.br-active,
.rating-b .br-widget a.br-selected {
  background-color: #de6924;
}
.rating-b .br-widget .br-current-rating {
  line-height: 2.1;
  display: block;
  padding: 10px 20px 0 20px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  width: 110px;
}
.rating-b .br-readonly a.br-active,
.rating-b .br-readonly a.br-selected {
  background-color: #cbcbcb;
}
.rating-b span.sit {
  display: block;
  width: 110px;
  text-align: center;
}
.keyword input[type=text] {
  color: #ffffff !important;
  height: 55px;
  width: calc(100% - 146px);
  background: none;
  border: solid 2px #5e5e5e;
  float: left;
  margin-right: 10px;
  padding-left: 20px;
  font-size: 130%;
  font-weight: 600;
  outline: none;
  font-family: georgia;
}
.keyword input:focus {
  outline: none !important;
  box-shadow: #ffffff !important;
}
#keywordElse input[type=text] {
  width: 100%;
}
#keywordElse input[type=text].small,
.keyword input[type=text].small {
  width: calc(100% - 425px);
}
.keyword .formField {
  height: 55px;
  float: left;
  width: 200px;
  margin-right: 20px;
}
.keyword .formField {
  height: 55px !important;
  float: right !important;
  width: 200px;
  margin-right: 20px;
  background: none;
  border: solid 1px #5e5e5e;
  color: #ffffff !important;
  font-weight: 600;
}
.keyword .formField option {
  height: 55px !important;
  color: #1a1a1a !important;
  font-weight: bold !important;
  font-size: 12px !important;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #ffffff !important;
}
.keyword .trash {
  height: 55px;
  width: 55px;
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  float: right;
  text-align: center;
  padding-top: 18px;
  font-size: 140%;
  background: #404040;
}
.keyword .trash:hover {
  background: #000000 !important;
}
.keyword input[type=text].error {
  border: solid 1px red;
}
.keyword input[type=text]::-webkit-input-placeholder {
  color: #dbdfe2 !important;
}
.keyword input[type=text]:-moz-placeholder {
  /* Firefox 18- */
  color: #dbdfe2 !important;
}
.keyword input[type=text]::-moz-placeholder {
  /* Firefox 19+ */
  color: #dbdfe2 !important;
}
.keyword input[type=text]:-ms-input-placeholder {
  color: #dbdfe2 !important;
}
.keyword input[type=submit],
.keyword input[type=button] {
  float: left;
  font-weight: bold;
  font-size: 140%;
  text-transform: uppercase;
  height: 55px !important;
  padding: 0px 30px !important;
}
.keyword a.submit {
  font-weight: bold;
  font-size: 140%;
  background: #404040 !important;
  text-transform: uppercase;
  height: 55px !important;
  line-height: 55px;
  padding: 0px 15px !important;
}
.keyword a.submit:hover,
.keyword input[type=submit]:hover {
  background: #000000 !important;
}
.keyword a.submit.inactive,
.keyword input[type=submit].inactive {
  background: #223246 !important;
  pointer-events: none;
  cursor: wait !important;
  opacity: 0.5;
}
.keyword a.submit.actions,
.keyword input.action,
.popupConfirm a.actions,
.keyword input[type=button].action {
  background: #de6924 !important;
  float: right;
  cursor: pointer;
  margin-left: 10px !important;
}
.keyword a.submit.actions:hover,
.keyword input.action:hover,
.popupConfirm a.actions:hover,
.keyword input[type=button].action:hover {
  background: #d76420 !important;
}
.keyword a.submit.actions.inactive,
.keyword input.action.inactive,
.popupConfirm a.actions.inactive,
.keyword input[type=button].action.inactive {
  background: #de6924 !important;
  pointer-events: none;
  cursor: wait !important;
  opacity: 0.5;
}
.keyword fieldset input.action[type=button] {
  margin-left: 0px !important;
}
.keyword article footer {
  margin-top: 40px;
}
.keyword article footer a {
  margin-right: 20px;
}
.key #bodySection,
.key #homeArticle {
  height: 100%;
}
div.loaders label {
  display: inline-block;
  margin-top: 10px;
}
.loaders {
  position: absolute;
  right: 40px;
  top: 40px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
span.loader {
  position: relative;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 1px;
  float: left !important;
  background: rgba(52, 152, 219, 0.2);
  color: #ffffff !important;
  margin-left: 6px;
  border: 3px solid tranparent;
}
span.loader:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: spinthis 800ms infinite;
  animation-timing-function: linear;
  -webkit-animation: spinthis 800ms infinite;
  -webkit-animation-timing-function: linear;
}
span.loader.twitter {
  background: rgba(52, 152, 219, 0.2);
  box-shadow: inset 0 0 0 3px #8dc3e8;
}
span.loader.twitter:after {
  border-top: 3px solid #3498db;
}
span.loader.load {
  width: 28px;
  height: 28px;
}
span.loader.load {
  background: rgba(20, 160, 133, 0);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.5);
}
span.loader.load:after {
  border-top: 2px solid #ffffff;
}
span.loader.facebook {
  background: rgba(59, 91, 161, 0.2);
  box-shadow: inset 0 0 0 3px #91a4c9;
}
span.loader.facebook:after {
  border-top: 3px solid #3b5ba1;
}
span.loader.rss {
  background: rgba(255, 100, 42, 0.2);
  box-shadow: inset 0 0 0 3px #f7a88b;
}
span.loader.rss:after {
  border-top: 3px solid #ff642a;
}
span.loader.google {
  background: rgba(0, 168, 78, 0.2);
  box-shadow: inset 0 0 0 3px #72cb9e;
}
span.loader.google:after {
  border-top: 3px solid #00a84e;
}
div.loaders span.active {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 36px !important;
  float: left !important;
  margin-left: 6px;
}
div.loaders .twitter.active {
  background: #3498db;
}
div.loaders .facebook.active {
  background: #3b5ba1;
}
div.loaders .rss.active {
  background: #ff642a;
}
div.loaders .google.active {
  background: #00a84e;
}
div.loaders .twitter {
  background: rgba(52, 152, 219, 0.2);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 36px !important;
  float: left !important;
  margin-left: 6px;
  color: #ffffff;
}
div.loaders .facebook {
  background: rgba(59, 91, 161, 0.2);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 36px !important;
  float: left !important;
  margin-left: 6px;
  color: #ffffff;
}
div.loaders .rss {
  background: rgba(255, 100, 42, 0.2);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 36px !important;
  float: left !important;
  margin-left: 6px;
  color: #ffffff;
}
div.loaders .google {
  background: rgba(0, 168, 78, 0.2);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 36px !important;
  float: left !important;
  margin-left: 6px;
  color: #ffffff;
}
span.loader span {
  color: #ffffff;
  position: relative;
  top: 0%;
  transform: translateY(-50%);
}
span.active span {
  color: #ffffff;
  position: relative;
  top: 0%;
  transform: translateY(-50%);
}
@keyframes spinthis {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinthis {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
}
div.note {
  padding: 10px 25px;
  background: #ced2d8 !important;
  color: #858b94 !important;
}
#loginContent article tfoot a {
  color: #de6924;
}
#loginContent article input.action {
  margin-bottom: 10px !important;
}
#loginContent article p:last-of-type {
  margin-bottom: 30px !important;
}
.inboxs .block {
  border: solid 1px #d2d7da;
  border-radius: 5px;
  margin: 20px 20px 0px 20px;
  padding: 15px 0px 0px 0px;
  height: 102px;
  cursor: pointer;
}
.inboxs .block:last-of-type {
  margin: 20px 20px 40px 20px;
}
.inboxs .block figure {
  position: relative;
  float: left;
  margin: -15px 40px 0px 0px;
}
.inboxs .block img {
  width: 100px;
  height: 100px;
}
.inboxs .block .icons {
  left: 80px;
  bottom: 15px;
}
.inboxs .block div.topRow {
  margin-bottom: 10px;
}
.inboxs .block p {
  margin-bottom: 10px;
}
.inboxs .block span.date {
  padding-right: 20px;
}
.inboxs .block span.name {
  font-size: 110%;
  color: #1a1a1a;
}
.inboxs .block span.words {
  float: right;
}
.inboxs .block span.words span {
  background: #eef2f5;
  padding: 4px 10px;
  border-radius: 5px;
  margin-left: 2px;
}
.inboxs .block span.sentiment {
  float: right;
  margin: 0px 20px 0px 10px;
}
.notification table {
  width: calc(100% - 40px);
  margin: 30px 20px;
}
.notification table tr {
  border-bottom: 5px solid #ffffff;
}
.notification table thead tr th {
  text-align: left;
  padding: 10px 20px;
}
.notification table tbody tr td,
.notification table tbody tr th {
  text-align: left;
  padding: 10px 20px;
  font-size: 110%;
  vertical-align: middle;
  background: #eef2f5 !important;
}
.notification table tbody tr td:first-child,
.notification table tbody tr th {
  width: 422px;
  border-right: solid 1px #d2d7da;
  box-shadow: 1px 0px 0px 1px #ffffff;
  -webkit-box-shadow: -1px 0px 1px -1px white;
}
.notification table.drop tbody tr th {
  width: auto;
}
.notification table.drop tbody tr td:first-child .normal,
.notification table.drop tbody tr th .normal {
  width: 390px;
  margin-right: -10px;
}
.notification table.drop tbody tr td .normal {
  width: 170px;
  margin-right: -10px;
}
.notification table tbody tr td:nth-child(2) {
  border: none;
  box-shadow: 1px 0px 0px 1px #ffffff;
  -webkit-box-shadow: -1px 0px 1px -1px white;
  border-right: solid 1px #d2d7da;
}
.notification table tbody tr td:nth-child(3) {
  box-shadow: 1px 0px 0px 1px #ffffff;
  -webkit-box-shadow: -1px 0px 1px -1px white;
  border-right: solid 1px #d2d7da;
}
.notification table tbody tr td:nth-child(4) {
  box-shadow: 1px 0px 0px 1px #ffffff;
  -webkit-box-shadow: -1px 0px 1px -1px white;
  border-right: solid 1px #d2d7da;
  width: 214px;
}
.notification table tbody tr td:last-of-type {
  border-right: none;
}
.notification table tbody tr td:last-of-type a span {
  color: #475d7c;
  font-size: 140%;
}
.notification table tr:last-of-type {
  border: none;
}
.notification table tbody tr td:first-child,
.notification table tbody tr th {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.notification table tbody tr td:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.notification input[type=checkbox].change {
  display: none;
}
.notification input[type=checkbox].change + span:before {
  font-family: "icomoon";
  display: inline-block;
  font-size: 220%;
  width: 21px;
  cursor: pointer;
  margin-right: 10px;
  padding-top: 2px;
}
.notification input[type=checkbox].change.up + span:before {
  content: "\e61d";
  color: #b9b9b9;
}
.notification input[type=checkbox].change.up:checked + span:before {
  content: "\e61d";
  color: #14a085;
}
.notification input[type=checkbox].change.down + span:before {
  content: "\e61c";
  color: #b9b9b9;
}
.notification input[type=checkbox].change.down:checked + span:before {
  content: "\e61c";
  color: #b23634;
}
.notification span.change,
span.change {
  display: inline-block;
  font-size: 220%;
  width: 21px;
  margin-right: 10px;
  padding-top: 2px;
  color: #b9b9b9;
}
.notification input[type=checkbox].change.up:checked:hover + span:before {
  color: #0e735f !important;
}
.notification input[type=checkbox].change.down:checked:hover + span:before {
  color: #8b2a28 !important;
}
.notification input[type=checkbox].change.up:hover + span:before,
.notification input[type=checkbox].change.down:hover + span:before {
  color: #a0a0a0 !important;
}
span.icon-mobile-phone {
  display: inline-block;
  font-size: 210%;
  padding-top: 2px;
  color: #1a1a1a;
}
span.icon-envelope {
  display: inline-block;
  font-size: 130%;
  padding-top: 0px;
  color: #1a1a1a;
}
.notification span.change.up,
span.change.up {
  color: #b9b9b9;
}
.notification span.change.up.on,
span.change.up.on {
  color: #14a085;
}
.notification span.change.down,
span.change.down {
  color: #b9b9b9;
}
.notification span.change.down.on,
span.change.down.on {
  color: #b23634;
}
.notification input[type=checkbox].notify {
  display: none;
}
.notification input[type=checkbox].notify + span:before {
  display: inline-block;
  width: auto;
  cursor: pointer;
  margin-left: 5px;
}
.notification input[type=checkbox].notify.sms + span:before {
  content: "SMS";
  border: solid 1px #de6924;
  background: none;
  color: #1a1a1a;
  padding: 6px 20px;
  border-radius: 5px;
}
.notification input[type=checkbox].notify.sms:checked + span:before {
  border: solid 1px #de6924;
  background: #de6924;
  color: #ffffff;
  padding: 6px 20px;
}
.notification input[type=checkbox].notify.email + span:before {
  content: "E-mail";
  border: solid 1px #de6924;
  background: none;
  color: #1a1a1a;
  padding: 6px 20px;
  border-radius: 5px;
}
.notification input[type=checkbox].notify.email:checked + span:before {
  border: solid 1px #de6924;
  background: #de6924;
  color: #ffffff;
  padding: 6px 20px;
}
.notification input[type=checkbox].notify:hover + span:before {
  background: rgba(222, 105, 36, 0.07) !important;
}
.notification input[type=checkbox].notify:checked:hover + span:before {
  background: #b4541b !important;
}
.notification span.notify {
  display: inline-block;
  width: auto;
  margin-left: 5px;
  border: solid 1px #de6924;
  background: #de6924;
  color: #ffffff;
  border-radius: 5px;
  padding: 6px 20px;
}
.notification span.notify.off {
  border: none;
  background: none;
  color: #b8bdc0;
  border-radius: 0px;
}
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #fff 0 0 7px;
  -webkit-box-shadow: #fff 0 0 7px;
  box-shadow: #fff 0 0 7px;
  /* for Opera */
  z-index: 1;
}
/* register */
body.registerPage {
  background: #e7ecf0;
}
body.registerPage #bodyHeader {
  background: none;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}
body.registerPage #bodyHeader a {
  background: none;
}
#loginContent.register article {
  width: 722px;
  margin-bottom: 20px;
}
#loginContent.register article h1 {
  margin-bottom: 40px !important;
}
#loginContent.register article.large {
  width: 1048px;
  margin-bottom: 20px;
}
#loginContent.register article header {
  text-align: center;
}
#loginContent.register article header h1 {
  text-align: center;
}
#loginContent.register article.large header p {
  font-size: 130%;
}
#loginContent.register article table tfoot tr td {
  padding-top: 10px;
}
#loginContent.register article h3 {
  font-weight: 600;
}
#loginContent.register footer {
  width: 722px;
  text-align: center;
  margin: 20px auto;
  font-size: 110%;
}
#loginContent.register footer a.submit {
  font-size: 110% !important;
  padding: 8px 20px !important;
  display: inline-block;
  float: none;
  margin-left: 20px;
}
#loginContent.register article table,
#loginContent.register article div.bills {
  width: 50%;
  float: left;
  margin-right: 40px;
}
#loginContent.register article input[type=text]::-moz-placeholder {
  color: #1a1a1a !important;
  opacity: 1;
  font-weight: 600;
}
#loginContent.register a {
  color: #de6924;
  text-decoration: underline;
}
#loginContent.register div.sign {
  background: #de6924 !important;
  margin-bottom: 20px;
  width: 100%;
  height: 58px;
  color: #ffffff;
  line-height: 57px;
  font-size: 140%;
  border-radius: 2px;
}
#loginContent.register div.sign span {
  background: #0f9477;
  float: left;
  height: 58px;
  border-radius: 2px;
  line-height: 57px;
  padding: 0px 10px;
  margin: 0px 20px 0px 0px;
  color: #ffffff;
  font-size: 200%;
  font-weight: 700;
}
#loginContent.register input[type=submit],
#loginContent.register a.submit,
#loginContent.register a.action {
  font-size: 110% !important;
  padding: 0px 16px !important;
  color: #ffffff !important;
  border-radius: 2px !important;
  border: none;
  line-height: 22px;
  height: 39px !important;
}
#loginContent.register a.submit,
#loginContent.register a.action {
  color: #ffffff !important;
  text-decoration: none !important;
  text-align: center;
}
#loginContent.register article aside {
  width: 43%;
  float: left;
}
#loginContent.register header figure {
  width: 100%;
  display: block;
  text-align: center;
}
#loginContent.register header figure span {
  font-size: 500%;
  color: #de6924;
  float: none;
}
#loginContent.register article aside p {
  margin-bottom: 40px;
}
#loginContent.register ul.plans {
  margin: 50px 0px 0px 0px;
  padding: 0px;
}
#loginContent.register ul.plans.small {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  width: 100%;
  float: left;
}
#loginContent.register ul.plans li {
  width: 25%;
  float: left;
  list-style-type: none;
  padding: 20px 0px;
  margin-right: 3px;
  background: #eef2f5;
  position: relative;
  font-size: 110%;
}
#loginContent.register ul.plans.small li {
  width: 100%;
  padding: 20px 10px 0px 10px;
}
#loginContent.register ul.plans li:last-of-type {
  margin-right: -30px;
}
#loginContent.register ul.plans li a.action {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 20px;
  right: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  line-height: 38px;
  text-decoration: none;
}
#loginContent.register ul.plans li a {
  display: block;
  color: #de6924;
  font-weight: bold;
  text-decoration: underline;
}
#loginContent.register ul.plans li h3 {
  padding: 0px 20px;
}
#loginContent.register ul.plans li p {
  padding: 12px 20px;
  margin-bottom: 10px !important;
}
#loginContent.register ul.plans li em {
  font-style: normal;
  font-size: 60%;
}
#loginContent.register ul.plans li ul {
  width: 100%;
  background: none;
  overflow: hidden;
  margin-bottom: 60px !important;
  border-bottom: solid 1px #ffffff;
}
#loginContent.register ul.plans li ul li {
  border-top: solid 1px #ffffff;
  color: #2a333d;
  width: auto;
  background: none;
  min-height: 20px;
  margin: 0px 0px 0px -40px;
  float: none;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}
#loginContent.register ul.plans li ul li.away {
  display: none;
  font-weight: normal;
}
#loginContent.register ul.plans li ul li span {
  float: right;
  color: #949da3;
  margin-top: 0px;
}
#loginContent.register ul.plans li ul li span.fa-check-circle {
  color: #de6924;
  font-size: 140%;
}
ul.plans li ul li span.fa-times-circle {
  color: #e74c3c;
  font-size: 140%;
}
#loginContent.register ul.plans li ul li:last-of-type {
  margin-right: 0px;
}
#loginContent.register ul.plans li ul li.shower {
  cursor: pointer;
  color: #de6924;
  text-decoration: underline;
}
#loginContent.register ul.plans li h3 span {
  color: #de6924;
  float: right;
  margin: 0px;
  font-size: 120%;
}
#loginContent.register ul.plans li a span {
  padding-top: 4px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  span.loader {
    padding-top: 2px;
  }
  .loaders span.active.twitter,
  .loaders span.active.facebook,
  .loaders span.active.rss {
    padding-top: 2px;
  }
}
.select2-container.blue {
  width: 60px !important;
  border: none !important;
  margin-top: -3px;
}
.select2-container.blue .select2-choice {
  height: 30px;
  border: solid 1px #474747 !important;
  background-color: Transparent;
  line-height: 30px;
  color: #818181 !important;
  border-radius: 4px;
  padding-left: 10px;
}
.select2-container.blue .select2-choice > .select2-chosen {
  color: #818181;
  font-weight: bold;
}
.select2-drop.blue {
  background: #212121;
  color: #818181;
  border: 1px solid #474747;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
.select2-drop.blue .select2-results .select2-highlighted,
.select2-drop.big .select2-results .select2-highlighted {
  background: #fff;
  color: #2a333d;
}
.select2-container.blue .select2-choice .select2-arrow b {
  background: url('arrows.png') no-repeat -69px 3px;
}
.select2-container.blue.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -87px 3px;
}
.select2-container.normal {
  border: none !important;
  margin-top: 3px;
}
.select2-container.normal .select2-choice {
  height: 30px;
  border: solid 1px #b8bdc0;
  background-color: Transparent;
  line-height: 30px;
  color: #1a1a1a !important;
  border-radius: 4px;
  padding-left: 10px;
}
.select2-container.normal .select2-choice > .select2-chosen {
  color: #1a1a1a;
  font-weight: bold;
}
.select2-drop.normal {
  background: #ffffff;
  color: #1a1a1a;
  border: 1px solid #b8bdc0;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
.select2-drop-mask {
  background: #ffffff;
  color: #1a1a1a;
  border: 1px solid #b8bdc0;
}
.select2-drop.normal .select2-results .select2-highlighted {
  background: #14a085;
  color: #ffffff;
}
.select2-container.normal .select2-choice .select2-arrow b {
  background: url('arrows.png') no-repeat -69px 3px;
}
.select2-container.normal.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -87px 3px;
}
.select2-container.normal {
  border: none !important;
  margin-top: 3px;
}
.select2-container.large .select2-choice {
  height: 55px;
  border: solid 1px #5e5e5e;
  background-color: Transparent;
  line-height: 55px;
  color: #1a1a1a !important;
  border-radius: 2px;
  padding-left: 20px;
  font-size: 130%;
  font-weight: 700;
}
.select2-container.large.select2-dropdown-open {
  background-color: #ffffff !important;
  color: #1a1a1a !important;
}
.select2-container.large .select2-choice > .select2-chosen {
  color: #ffffff;
  font-weight: bold;
}
.select2-container.large.select2-dropdown-open .select2-choice > .select2-chosen {
  color: #1a1a1a !important;
  font-weight: bold;
}
.select2-drop.large {
  background: #ffffff;
  color: #1a1a1a;
  border-top: 0;
  border-radius: 0 0 2px 2px;
}
.select2-drop.large.select2-drop-active {
  border: solid 2px #59677b;
  border-top: none;
}
.select2-drop.large .select2-result {
  height: 55px;
  padding: 13px 0px 0px 10px;
  color: #1a1a1a;
  font-size: 130%;
  font-weight: 700;
}
.select2-drop.large .select2-results .select2-highlighted {
  background: #14a085;
  color: #ffffff !important;
  height: 55px;
  line-height: 55px;
  font-size: 130%;
  font-weight: 700;
}
.select2-container.large .select2-choice .select2-arrow b {
  background: url('arrows.png') no-repeat -69px -46px;
}
.select2-container.large.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -87px -46px;
}
.select2-container.big {
  width: 342px !important;
  border: none !important;
  float: left !important;
  margin-bottom: 20px;
}
.select2-container.big .select2-choice {
  height: 50px;
  border: none;
  background-color: #eef2f5;
  line-height: 50px;
  color: #2a3338 !important;
  font-size: 300%;
  font-weight: normal !important;
  border-radius: 0px;
  padding: 0px 10px 13px 10px;
  border: solid 1px #dadfe2;
}
.select2-container.big .select2-choice:hover {
  border: solid 1px #dadfe2;
}
.select2-container.big .select2-choice > .select2-chosen {
  color: #2a3338;
  font-weight: normal;
}
.select2-container.big .select2-choice .select2-arrow b {
  background: url('arrows.png') no-repeat -6px 14px;
}
.select2-container.big .select2-choice .select2-arrow {
  right: 10px;
}
.select2-container.big.select2-dropdown-open .select2-choice .select2-arrow {
  right: 10px;
}
.select2-container.big.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -40px 14px;
  padding-right: 10px;
}
.select2-drop.big {
  background: #eef2f5;
  color: #2a3338 !important;
  border: none;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
@media only screen and (max-width: 1024px) {
  .dataBlock table.selections.inbox.big td:nth-of-type(2) {
    width: 240px;
  }
  .notification table tbody tr td:first-child,
  .notification table tbody tr th {
    width: 222px !important;
  }
  .notification table.drop tbody tr td:first-child .normal,
  .notification table.drop tbody tr th .normal {
    width: 170px;
  }
  .notification table.drop tbody tr td .normal {
    width: 110px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  div.loaders .twitter {
    line-height: 53px !important;
  }
  div.loaders .facebook {
    line-height: 55px !important;
  }
  div.loaders .rss {
    line-height: 53px !important;
  }
  div.loaders .google {
    line-height: 53px !important;
  }
  div.loaders span.twitter.active {
    line-height: 54px !important;
  }
  div.loaders span.facebook.active {
    line-height: 53px !important;
  }
  div.loaders span.rss.active {
    line-height: 53px !important;
  }
  div.loaders span.google.active {
    line-height: 50px !important;
  }
}
