<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net4" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NHibernate.Caches.SysCache2" version="4.0.0.4000" targetFramework="net45" />
  <package id="SimpleInjector" version="2.8.0" targetFramework="net45" />
  <package id="TinyMCE" version="4.1.10" targetFramework="net45" />
</packages>