@media all {
iframe {
	width: 100%;
	position: absolute;
	height: 94%;
	top: 54px;
	overflow: hidden;
}
#bodyHeader {
	background: #282828;
	box-shadow: -25rem 0 0 #282828, 25rem 0 0 #282828;   /* x offset == element width */
}
	#bodyLogo {
		margin: 8px 0px 0px 20px;
	}
	#homeContent {
		height: auto !important;
		margin-bottom: 0px;
	}
	#containerLargeMapper {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 60px;
		overflow: hidden;
		z-index: 100;		
	}
		#containerLargeMapper.smallMap {
			top: 164px !important;
			width: 392px !important;
			height: 818px !important;
		}
	#containerLargeMapper #largeMapper {
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		z-index: 100;
		background: none;
		border: none;

	}
		#containerLargeMapper header {
			height: 54px;
			width: 100%;
			background: #ffffff;
		}

	.dashes.threeWay {
		background: #ffffff;
		float: none;
		margin-right: 2px;
		width: 280px;
		height: auto;
		overflow: hidden;
		margin-bottom: 2px;
	}
	.dashes header {
		height: 32px !important;
		background: #263646;
		color: #ffffff;
		border-bottom: none;
	}
		.dashes header h2 {
			color: #ffffff;
		}
		.dashes h3 {
			color: #1d6cd5;
			font-size: 120%;
			margin-bottom: 10px;
		}
	#leftArticle {
		position: absolute;
		left: 80px;
		top: 100px;
		z-index: 120;
	}
		.dashes.threeWay fieldset.campaign {
			background: #34495e;
			margin: 0px -20px 10px -20px;
		}
		.dashes.threeWay fieldset {
			background: #ffffff;
			margin: 0px -20px -10px -20px;
		}
			.dashes.threeWay fieldset.campaign header {
				background: #34495e;
				height: 10px !important;
			}
			.dashes.threeWay fieldset header {
				background: #ffffff;
				height: 4px !important;
			}
			.dashes.threeWay fieldset.campaign header label {
				font-weight: bold;
				color: #ffffff !important;
			}
			.dashes.threeWay fieldset header a {
				float: right;
				color: #ffffff;
				font-size: 120%;
				margin-top: 3px;
			}
			.dashes.threeWay fieldset article {
				padding: 20px;
			}
				.dashes fieldset.campaign header figure .flaticon.solid.gear {
					color: #ffffff;
					font-size: 120%;
				}
				.dashes.threeWay div.sub  {
					font-size: 80%;
				}
				.dashes fieldset header figure .flaticon.solid.gear {
					color: #1a1a1a;
					font-size: 120%;
				}
			.dashes.threeWay fieldset select {
				width: 100%;
			}
		.dashes.threeWay nav {
			background: #1a1a1a;
			margin: -10px -20px 0px -20px;
			padding: 20px;
			text-align: left;
		}
			.dashes.threeWay nav ul {
				margin: 0px;
				padding: 0px;
			}
				.dashes.threeWay nav ul li {
					list-style-type: none;
					display: inline;
					margin-right: 20px;
				}
				.dashes.threeWay nav ul li a {
					color: #ffffff;
					font-size: 120%;
					position: relative;	
				}
				.dashes.threeWay nav ul li a.active:before{
					border: solid;
					border-color: #4f92ea transparent;
					border-width: 0px 8px 8px 8px !important;
					top: 22px;
					content: "";
					left: 35%;
					position: absolute;
					z-index: 99;
				}
				.dashes.threeWay nav ul li a.open:before{
					border: solid;
					border-color: #1d6cd5 transparent;
					border-width: 0px 8px 8px 8px !important;
					top: 22px;
					content: "";
					left: 35%;
					position: absolute;
					z-index: 99;
				}
				.dashes.threeWay nav ul li a.inactive {
					color: #595959;
					pointer-events: none;
					cursor: default;					
				}
		.dashes.threeWay div.step {
			margin: -10px -20px 0px -20px;
		}
			.dashes.threeWay div.step a {
				display: block;
				width: 100%;
				padding: 20px 20px;
				text-align: left; 
				color: #ffffff;
				font-size: 140%;
			}
			.dashes.threeWay div.step a span {
				float: right;
				margin-right: 40px;
				color: #ffffff;
				font-size: 150%;
			}			
				.dashes.threeWay div.step a.done {
					background: #4f92ea;	
					margin-bottom: -10px;
				}
				.dashes.threeWay div.step a.open {
					background: #1d6cd5;
				}
		.dashes.threeWay div.summary {
			background: #f19f0f;
			padding: 5px 20px;
			color: #ffffff;
			border-radius: 4px;
			margin-bottom: 10px;
		}
		.dashes.threeWay div.options {
			margin-bottom: 10px;
		}
			.dashes.threeWay div.options ul {
				margin: 0px;
				padding: 0px;
			}
			.dashes.threeWay div.options ul li {
				padding: 5px 10px;
				background: #4f92ea;
				border-bottom: dotted 1px #4087e4;
				list-style-type: none;
				color: #ffffff;
			}
				.dashes.threeWay div.options ul li a {
					color: #ffffff;
					float: right;
				}
			.dashes.threeWay div.options ul li:first-child {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			.dashes.threeWay div.options ul li:last-child {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		.dashes.threeWay label {
			color: #1d6cd5 !important;
			font-weight: bold;
		}
		.dashes header figure .flaticon.solid.gear {
			color: #fff;
		}
		.dashes.threeWay input.half {
			width: 242px !important;
			margin: 0px;
			background: #ffffff;
			border: solid 2px #ECECEC;
		}
		.dashes.threeWay table {
			margin: 0px 0px 20px 0px;
			width: 100%;
			-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
		}
			.dashes.threeWay table thead th {
				color: #8a8a8a;
				background: #d7ebf8;
				padding: 4px 10px;
				text-align: left;
			}
				.dashes.threeWay table thead th:last-child {
					border-radius: 0 4px 0 0;
				}
				.dashes.threeWay table thead th:first-child {
					border-radius: 4px 0px 0 0;
				}
			.dashes.threeWay table tfoot td {
				color: #ffffff;
				background: #4f92ea;
				padding: 4px 10px;
				text-align: right;
			}
				.dashes.threeWay table tfoot td:last-child {
					border-radius: 0px 0px 4px 0px;
				}
				.dashes.threeWay table tfoot td:first-child {
					border-radius: 0px 0px 0px 4px;
					text-align: left;
				}
			.dashes.threeWay table tbody td {
				color: #343434;
				padding: 4px 10px;
				-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
				text-align: right;
				width: 80px;
			}
				.dashes.threeWay table tbody td:last-child {
					border-right: solid 2px #d7ebf8;
					display: inline-block;
					width: 80px;
				}
				.dashes.threeWay table tbody td:first-child {
					border-left: solid 2px #d7ebf8;
					text-align: left;
					display: inline-block;
					width: 80px;
				}
			
	.dashes.threeWay div.open {
		padding-top: 10px;
	}
	.dashes.threeWay div.closed {
		display: none;
		margin: -10px -20px -10px -20px;
	}
		.dashes.threeWay span {
			padding-left: 10px;
		}
		.dashes.threeWay select.half {
			width: 222px !important;			
		}
		.dashes.threeWay select.full {
			width: 243px !important;
		}
		.dashes.threeWay article, .dashes.threeWay footer {
			padding: 0px 20px 20px 20px;
			height: auto !important;
			width: 100% !important;
			box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
		}

		.dashes.threeWay footer {
			height: auto !important;
			margin-top: 0px;
			background: none !important;
		}

			.dashes.threeWay footer hr {
				height: 1px !important;
				width: 100%;
				margin: 20px 0px !important;
			}
		.dashes.threeWay input[type=submit] {
			background: #1d6cd5 !important;
			margin-right: -20px;
			-webkit-font-smoothing: none; 
		}
		.dashes.threeWay input[type=radio] {
			margin: 10px 0px 10px 0px;
		}
		.dashes.threeWay input[type=radio]:first-of-type {
			margin: 10px 0px 10px 20px;
		}
		.dashes.threeWay label.radio {
			margin: 8px 8px 10px 0px;
			display: inline-block;
			font-size: 95%;
			font-weight: normal;
			color: #8a8a8a !important;
		}
		.dashes.threeWay fieldset.calendar {
			margin: 0px -20px 0px -20px;
		}
			.dashes.threeWay fieldset.calendar label {
				margin: 0px 8px 0px 0px;
				display: inline-block;
				font-size: 95%;
				width: 42px;
				font-weight: normal;
				color: #8a8a8a !important;
			}
			.dashes.threeWay fieldset.calendar input {
				width: 80px !important;
				margin: 0px 4px 0px 0px !important;
				background: #ffffff;
				border: solid 2px #ECECEC;
			}
			.dashes.threeWay fieldset.calendar a.flaticon {
				display: inline-block;
				margin-top: 13px;
			}
		.dashes.threeWay a.submit {
			background: #7f8c8d !important;
			margin-right: 0px;
			-webkit-font-smoothing: none; 
		}
}
@media screen and (min-width: 1280px) {
	.dashes.map {
		background: #ffffff;
		float: none;
		margin-right: 2px;
		width: 594px;
		height: 818px;
		overflow: hidden;
		margin-bottom: 2px;
		margin-left: 282px;
	}
	#containerLargeMapper.smallMap {
		top: 164px !important;
		width: 592px !important;
		height: 818px !important;
	}
}
